In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./images.csv')
df

   Unnamed: 0 month                                              image
0           0     1  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
1           1     3  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
2           2     6  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
3           3    no  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...

In [3]:
df

   Unnamed: 0 month                                              image
0           0     1  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
1           1     3  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
2           2     6  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
3           3    no  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...

In [19]:
import pyperclip
test = df[df['month'] =='1']['image'].to_string()[5:]
pyperclip.copy(test)